<div class="card-statistics">

  <div class="stat-item">
      <img src="../../assets/icons/viewed.svg" alt="views" class="stat-item__img">
      <div class="stat-item__counter">{{statistica.viewCount || 0}}</div>
  </div>
  <div class="stat-item">
      <img src="../../assets/icons/liked.svg" alt="likes" class="stat-item__img">
      <div class="stat-item__counter">{{statistica.likeCount || 0}}</div>
  </div>
  <div class="stat-item">
      <img src="../../assets/icons/dislike.svg" alt="dislikes" class="stat-item__img">
      <div class="stat-item__counter">{{statistica.dislikeCount || 0}}</div>
  </div>
  <div class="stat-item">
      <img src="../../assets/icons/comments.svg" alt="comments" class="stat-item__img">
      <div class="stat-item__counter">{{statistica.commentCount || 0}}</div>
  </div>


</div>

