@mixin video-card__title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: right;

color: #4F4F4F;
}




.search-results-block__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffff;
    width: 100%;
    height: 100vh;
}

.video-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    background-color: #e5e5e5;
    width: 264px;
    height: 327px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));

    img {
    width: 223px;
    height: 123px;
    margin-left: auto;
    margin-right: auto;
    }
    .video-card__statistics {
    }
    .video-card__title {
        @include video-card__title();
    }
    .video-card__btn {
    }

}