button{
    &:hover{
        cursor: pointer;
        box-shadow: 1px 2px 3px #2F80ED;
    }
}

//  HEADER section start ----------------------------------------------------------------------
.header-search__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.header-login {
    background-image: url(../../assets/img/login.svg);
    background-repeat: no-repeat;
    background-position:  right 25%;
    // background-position: center center;
    // background-position: 25% 45%;
    width: 105px;
    height: 25px;
    // margin-left: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}
.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-image: url(../../assets/img/logo.png);
    background-repeat: no-repeat;
}
.logotype {
}
.search-form {
}
.search-input {
    background-color: #EFEFEF;
    height: 22px;
    width: 300px;
    border: 0px solid #E5E5E5;
}
.search-button {
    background-color: #2F80ED;
    border-radius: 0 4px 4px 0;
    border: 1px solid #2F80ED;
    color: #ffff;
    height: 24px;
    width: 80px;
}
.settings-button {
    padding: 0;
    margin-left: 10px;
    background-color: #2F80ED;
    border-radius: 4px;
    border: 0.1px solid #2F80ED;
    color: #ffff;
    height: 24px;
    width: 24px;
    min-width: 24px;
    background-image: url(../../assets/img/search_settings.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 25% 45%;
}
//  HEADER section finish ----------------------------------------------------------------------


//  SORTING-BY section start ----------------------------------------------------------------------
.sorting-by__wrapper {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: #E5E5E5;
}

@mixin search-by-text__a{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */
text-decoration-line: underline;
color: #2F80ED;
    &:hover{
        cursor: pointer;
    }
}

.sorting-by__tytle {
@include search-by-text__a();
color: #929292;
}

.sorting__by-date {
    @include search-by-text__a();
    margin-left: 15px;

}
.by-date__a {
    @include search-by-text__a();
}
.sorting__by-count-of-views {
    @include search-by-text__a();
    margin-left: 15px;

}
.count-of-views__a {
    @include search-by-text__a();
}
.sorting__by-word-or-sentence {
    @include search-by-text__a();
text-decoration: none;
margin-left: 15px;
}

.by-word-or-sentence__input-text {
    background-color: #ffff;
    height: 13px;
    width: 149px;
    border: 0px solid #EFEFEF; 
}
//  sorting-by section finish ----------------------------------------------------------------------
