<!-- <mat-toolbar>  -->
<!-- <mat-toolbar-row>  -->

<!-- </mat-toolbar-row> -->
<!-- <mat-icon></mat-icon> -->
<!-- <app-logo> </app-logo> -->


<!-- <app-search-input-with-submit-button></app-search-input-with-submit-button> -->
<!-- <app-settings-button></app-settings-button> -->
<!-- <app-login-information-block></app-login-information-block> -->

<!-- </mat-toolbar> -->
<header class="header">
    <div class="header-search__wrapper">
        <div class="logo"></div>
        <!-- <div class="logo"><img src="../../../src/assets/img/logo.jpg" alt="logotype" class="logotype"></div> -->
        <!-- The form -->
        <form class="search-form" action="#">
            <input type="text" class="search-input">
            <button type="submit" class="search-button">Search!</button>
        </form>
        <button class="settings-button"></button>

    </div>
    <div class="header-login">Your Name</div>
</header>