<header class="header">
    <div class="header-search__wrapper">
        <div class="logo"></div>
            <input type="text" class="search-input">
            <button class="search-button" (click)="search()">search</button>
        <button class="settings-button" (click)="toggleSearchSection()"> </button>

    </div>
    <div class="header-login">{{authService.userName}}</div>

    <button class="logout__btn" 
    (click)="authService.logout()"
    >Logout</button>


</header>

<div class="sorting-by__wrapper" *ngIf="isSortingSectionShown">
    <div class="sorting-by__tytle">Sorting by:</div>
    <div class="sorting__by-date" (click)="onSortingClick('date')">date</div>
    <div class="sorting__by-count-of-views" (click)="onSortingClick('views')">count of views</div>
    <div class="sorting__by-word-or-sentence">
        by word or sentence
        <input class="by-word-or-sentence__input-text" 
        type="text" name="by-word-or-sentence" 
        id="#by-word-or-sentence"
        (input)="onInput($event)">
    </div>

</div>