<div class="card__wrapper">
    <div class="top-arrow">
        <button type="button" class="back-btn" routerLink='/'>
            <img src="../../../../assets/icons/back_button.svg" alt="back" class="back-btn__img">
        </button>
    </div>
    <div class="card-img__wrapper">
        <img src="{{card.snippet.thumbnails.medium.url}}" alt="image" class="card-img__img">
    </div>
    <div class="card-description__wrapper" appTimeStyle [publishedAt]="card.snippet.publishedAt">

        <div class="card-title">{{card.snippet.title}}</div>

        <div class="card-description">
            <span>Description:</span>
            {{card.snippet.description}}
        </div>

        <div class="card-statistics">

            <div class="stat-item">
                <img src="../../assets/icons/viewed.svg" alt="views" class="stat-item__img">
                <div class="stat-item__counter">{{card.statistics.viewCount || 0}}</div>
            </div>
            <div class="stat-item">
                <img src="../../assets/icons/liked.svg" alt="likes" class="stat-item__img">
                <div class="stat-item__counter">{{card.statistics.likeCount || 0}}</div>
            </div>
            <div class="stat-item">
                <img src="../../assets/icons/dislike.svg" alt="dislikes" class="stat-item__img">
                <div class="stat-item__counter">{{card.statistics.dislikeCount || 0}}</div>
            </div>
            <div class="stat-item">
                <img src="../../assets/icons/comments.svg" alt="comments" class="stat-item__img">
                <div class="stat-item__counter">{{card.statistics.commentCount || 0}}</div>
            </div>


        </div>

    </div>
</div>