<div class="login-form__wrapper">
    <h2>Login</h2>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="login__wrapper">
            <label for="login">login:</label>
            <input type="login" id="login" name="login" formControlName="login">
            <div class="validation" *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.dirty">
                <small *ngIf="loginForm.hasError('required', ['login'])">
                    Please enter a login email
                </small>
                <small *ngIf="loginForm.hasError('email', ['login'])">
                    The login email is invalid
                </small>
            </div>

        </div>
        <pre>
            '-->', {{ password?.errors?.['minlength']| json}}
            '-strong->', {{ this.isPasswordStrong | json}}
        </pre>

        <div class="password__wrapper">
            <label for="password">password:</label>
            <input id="password" name="password" type="password" formControlName="password">
            <div class="validation" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty )">
                <small *ngIf="loginForm.hasError('required', ['password'])">
                    Please enter a password
                </small>
                <div *ngIf="loginForm.hasError('minlength', ['password'])">
                    <small> Minimal length of password is {{password?.errors?.['minlength']?.['requiredLength'] }} chars </small> 
                    <small>You entered {{password?.errors?.['minlength']?.['actualLength'] }} char(s)</small>
                </div>

            </div>
        </div>
        <button class="submit__btn" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>